body {
	font-family: sans-serif;
}

.stages-container {
  width: 20px;
  margin: 0 1.5rem;
}

.each-stage {
  height: 20px;
  display: block;
}

p {
  margin: 0;
}

.color-block {
	width: 10px;
	height: 10px;
	display: inline-block;
}